<% title @article.title %>
<div class="modal delete-modal modal-inactive" id="article-delete-modal">
	<div>
		<h2>Confirmation</h2>
	</div>
	<ion-icon name="ios-close" class="modal-close"></ion-icon>
	<p>Are you sure you want to delete this article?</p>
	<a class="delete-confirm-btn delete-article-confirm-btn">Yes, delete it</a>
</div>
<div class="modal delete-modal modal-inactive" id="comment-delete-modal">
	<div>
		<h2>Confirmation</h2>
	</div>
	<input type="text" id="comment-id" value="" name="comment_id" hidden>
	<ion-icon name="ios-close" class="modal-close"></ion-icon>
	<p>Are you sure you want to delete this article?</p>
	<a class="delete-confirm-btn delete-comment-confirm-btn">Yes, delete it</a>
</div>
<div id="report-form-container" class="modal modal-inactive">
	<div>
		<h2>Submit a report</h2>
	</div>
	<ion-icon name="ios-close" id="report-close" class="modal-close"></ion-icon>
	<form id="report-form" class="modal-form" action="/reports/create" accept-charset="UTF-8" data-remote="true" method="post">
		<input type="text" name="report[report_type]" value="Article" hidden>
		<input id="report-article" type="text" name="report[article]" value="<%= @article.id %>" hidden>
		<div class="modal-form-input-container">
			<label for="report-input-container"><p>Report reason:</p></label>
			<select class='report-reason' name="report[reason]" form="report-form" required>
				<option value='Spam'><p>Spam</p></option>
				<option value='Offensive'><p>Offensive content</p></option>
				<option value='Other'><p>Other</p></option>
			</select>
			<label for="report-comment"><p>Comment:</p></label>
			<textarea id="report-comment" placeholder="Any additional notes go here" name="report[comment]"></textarea>
		</div>
		<input type="submit" name="commit" value="Send Report">
		<div class="submit-message shrunk">
			<p>Your report has been submitted!</p>
		</div>
	</form>
</div>
<div id="main-container">
    <%= render 'partials/navbar_slim' %>
    <%= image_tag "spinner.gif", class: "spinner hidden" %>
    <div id="articles-container">
        <div id="main-opacity"></div>
        <div class="article-opacity"></div>
        <div class="article focused">
            <div class="article-header">
                <img src="<%= @article.banner.variant(resize: "600x600").processed.service_url %>">
                <h2><a><%= @article.title %></a></h2>
                <div>
                    <div>
                        <div class="avatar-wrapper">
                            <a href="<%= root_url + 'users/' + @article.user.username %>">
                                <%= image_tag user_avatar(@article.user) %>
                            </a>
                        </div>
                        <p>By <a href="<%= root_url + 'users/' + @article.user.username %>"><%= @article.user.username %></a></p>
                    </div>
                    <p>&nbsp;- <%= @article.created_at.strftime('%-d %b, %Y') %></p>
                </div>
            </div>
            <div class="article-body">
                <div id="article-toolbar">
                    <% if fetch_user %>
                        <% if fetch_user.admin || @article.user.id == fetch_user.id %>
                        <ion-icon class="post-icon post-trash article-trash" name="ios-trash"></ion-icon>
                        <% end %>
                        <% if @article.user != fetch_user %>
                        <ion-icon class="post-icon post-flag article-flag" name="ios-flag"></ion-icon>
                        <% end %>
                        <% if @article.user.id == fetch_user.id %>
                        <ion-icon class="post-icon post-edit article-edit" name="create"></ion-icon>
                        <% end %>
                        <% if fetch_user && fetch_user != @article.user %>
                        <div class="heart-container">
                            <ion-icon class="heart-animation hidden" name="ios-heart"></ion-icon>
                            <ion-icon class="post-icon post-heart <%= 'red' if Upvote.find_by(user: fetch_user, article: @article).present? %>" name="ios-heart"></ion-icon>
                        </div>
                        <% end %>
                    <% end %>
                </div>
                <h4><%= @article.subtitle %></h4>
                <p><%= sanitize(@article.body) %></p>
            </div>
        </div>
        <div id="comments-sidebar">
            <div id="article-comments">
                <h2>Comments</h2>
                <% Comment.where(article: @article).each do | comment | %>
                <div class="comment">
                    <div class="article-opacity"></div>
                    <input type="text" name="comment_id" value="<%= comment.id %>" class="comment-id" hidden>
                    <div id="comment-toolbar">
                        <% if fetch_user %>
                            <% if fetch_user.admin || @article.user.id == fetch_user.id %>
                            <ion-icon class="post-icon post-trash comment-trash" name="ios-trash"></ion-icon>
                            <% end %>
                            <% if @article.user != fetch_user %>
                            <ion-icon class="post-icon post-flag comment-flag" name="ios-flag"></ion-icon>
                            <% end %>
                            <% if @article.user.id == fetch_user.id %>
                            <ion-icon class="post-icon post-edit comment-edit" name="create"></ion-icon>
                            <% end %>
                            <% if fetch_user && fetch_user != @article.user %>
                            <div class="heart-container">
                                <ion-icon class="heart-animation hidden" name="ios-heart"></ion-icon>
                                <ion-icon class="post-icon post-heart <%= 'red' if Upvote.find_by(user: fetch_user, article: @article).present? %>" name="ios-heart"></ion-icon>
                            </div>
                            <% end %>
                        <% end %>
                    </div>
                    <div class="comment-info">
                        <div class="avatar-wrapper">
                            <a href="<%= root_url + 'users/' + comment.user.username %>">
                                <%= image_tag user_avatar(comment.user) %>
                            </a>
                        </div>
                    </div>
                    <div class="comment-body">
                        <p><a href="<%= root_url + 'users/' + comment.user.username %>"><%= comment.user.username %></a> says:</p>
                        <p><%= sanitize(comment.body) %></p>
                    </div>
                </div>
                <% end %>
                <% if fetch_user %>
                <div id="reply-container">
                    <form id="reply-form" enctype="multipart/form-data" action="<%= root_url + 'comments/create' %>" method="post" data-remote="false">
                        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                        <input type="text" name="comment[article_id]" value="<%= @article.id %>" hidden>
                        <div id="form-user-info">
                            <%= image_tag user_avatar(fetch_user) %>
                        </div>
                        <div id="reply-text-container">
                            <h3>Comment on this article</h3>
                            <textarea id="reply-textarea" name="comment[body]" placeholder="Type your reply here."></textarea>
                            <%= tinymce %>
                            <input type="submit" value="Submit comment" name="commit">
                        </div>
                    </form>
                </div>
                <% else %>
                <div id="no-login-form">
                    <h2>You must be a member to comment</h2>
                    <p>Log in or register below</p>
                    <form enctype="multipart/form-data" action="<%= root_url %>login" accept-charset="UTF-8" data-remote="true" method="post">
                        <input placeholder="Username" type="text" name="session[username]">
                        <input placeholder="Password" type="password" name="session[password]">
                        <input value="Login" type="submit" name="commit">
                    </form>
                    <a class="register-btn">Create an account</a>
                </div>
                <% end %>
            </div>
            <div id="comment-sidebar">
                <ul id="related-articles">
                    <h2>Related articles</h2>
                    <% Article.where(category: @article.category).limit(5).each do | article | %>
                    <li class="article">
                        <div class="article-header">
                            <img src="<%= article.banner.variant(resize: "600x600").processed.service_url %>">
                            <h2><a href="<%= articles_path + '/' + article.id.to_s %>"><%= article.title %></a></h2>
                            <div>
                                <div>
                                    <div class="avatar-wrapper">
                                        <a href="<%= root_url + 'users/' + article.user.username %>">
                                            <%= image_tag user_avatar(article.user) %>
                                        </a>
                                    </div>
                                    <p>By <a href="<%= root_url + 'users/' + article.user.username %>"><%= article.user.username %></a></p>
                                </div>
                                <p>&nbsp;- <%= article.created_at.strftime('%-d %b, %Y') %></p>
                            </div>
                        </div>
                        <div class="article-body">
                            <h4><%= article.subtitle %></h4>
                            <p><%= article.body %></p>
                        </div>
                        <div class="show-more">
                            <div class="article-link-container">
                                <a href="<%= articles_path + '/' + article.id.to_s %>">Show full article</a>
                                <ion-icon name="ios-arrow-forward"></ion-icon>
                            </div>
                        </div>
                    </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>