<% title "Forum" %>
<div id="main-container">
    <div id="main-opacity"></div>
    <%= render 'partials/navbar_slim' %>
    <%= image_tag "spinner.gif", class: "spinner hidden" %>
    <div id="board-container">
        <div id="forum-opacity"></div>
        <h2 id="title">Forum</h2>
        <div id="board-list">
            <ul>
                <li>
                    <div id="forum-opacity" class="darker"></div>
                    <ion-icon name="ios-arrow-dropright-circle"></ion-icon>
                    <div class="board-title-container">
                        <h3><a href="<%= forum_path + '/announcements' %>">Announcements</a></h3>
                        <p>Important announcements and PSAs</p>
                    </div>
                    <div class="activity"><p>Last updated in thread</p></div>
                </li>
                <li>
                    <div id="forum-opacity" class="lighter"></div>
                    <ion-icon name="ios-arrow-dropright-circle"></ion-icon>
                    <div class="board-title-container">
                        <h3><a href="<%= forum_path + '/rules' %>">Rules and guidelines</a></h3>
                        <p>Please read these before posting</p>
                    </div>
                    <div class="activity"><p>Last updated in thread "<%= board_last_updated('rules').title %>" at <%= board_last_updated('rules').updated_at.strftime("%R %Z, %F") %></p></div>
                </li>
            </ul>
            <div class="divider"></div>
            <ul>
                <li>
                    <div id="forum-opacity" class="darker"></div>
                    <ion-icon name="ios-arrow-dropright-circle"></ion-icon>
                    <div class="board-title-container">
                        <h3><a href="<%= forum_path + '/rules' %>">Rules and guidelines</a></h3>
                        <p>Please read these before posting</p>
                    </div>
                    <div class="activity"><p>Placeholder</p></div>
                </li>
                <li>
                    <div id="forum-opacity" class="lighter"></div>
                    <ion-icon name="ios-arrow-dropright-circle"></ion-icon>
                    <div class="board-title-container">
                        <h3><a href="<%= forum_path + '/rules' %>">Rules and guidelines</a></h3>
                        <p>Please read these before posting</p>
                    </div>
                    <div class="activity"><p>Placeholder</p></div>
                </li>
                <li>
                    <div id="forum-opacity" class="darker"></div>
                    <ion-icon name="ios-arrow-dropright-circle"></ion-icon>
                    <div class="board-title-container">
                        <h3><a href="<%= forum_path + '/rules' %>">Rules and guidelines</a></h3>
                        <p>Please read these before posting</p>
                    </div>
                    <div class="activity"><p>Placeholder</p></div>
                </li>
                <li>
                    <div id="forum-opacity" class="lighter"></div>
                    <ion-icon name="ios-arrow-dropright-circle"></ion-icon>
                    <div class="board-title-container">
                        <h3><a href="<%= forum_path + '/rules' %>">Rules and guidelines</a></h3>
                        <p>Please read these before posting</p>
                    </div>
                    <div class="activity"><p>Placeholder</p></div>
                </li>
                <li>
                    <div id="forum-opacity" class="darker"></div>
                    <ion-icon name="ios-arrow-dropright-circle"></ion-icon>
                    <div class="board-title-container">
                        <h3><a href="<%= forum_path + '/rules' %>">Rules and guidelines</a></h3>
                        <p>Please read these before posting</p>
                    </div>
                    <div class="activity"><p>Placeholder</p></div>
                </li>
            </ul>
            <div class="divider"></div>
            <ul>
                <li>
                    <div id="forum-opacity" class="darker"></div>
                    <ion-icon name="ios-arrow-dropright-circle"></ion-icon>
                    <div class="board-title-container">
                        <h3><a href="<%= forum_path + '/rules' %>">Rules and guidelines</a></h3>
                        <p>Please read these before posting</p>
                    </div>
                    <div class="activity"><p>Placeholder</p></div>
                </li>
                <li>
                    <div id="forum-opacity" class="lighter"></div>
                    <ion-icon name="ios-arrow-dropright-circle"></ion-icon>
                    <div class="board-title-container">
                        <h3><a href="<%= forum_path + '/rules' %>">Rules and guidelines</a></h3>
                        <p>Please read these before posting</p>
                    </div>
                    <div class="activity"><p>Placeholder</p></div>
                </li>
            </ul>
        </div>
    </div>
</div>