<nav id="sidebar">
    <ul id="nav-list">
        <li>
            <%= link_to "Home", root_url %>
            <%= link_to "Articles", articles_path %>
            <%= link_to "Forum", forum_path %>
            <%= link_to "Archive", albums_path %>
            <%= link_to "Submit", albums_submit_path %>
            <%= link_to "About / FAQ", about_path %>
        </li>
    </ul>
</nav>
