<nav id="sidebar">
    <ul id="nav-list">
        <li>
            <div class="nav-btn"><div class="title-wrapper"><%= link_to "Home", root_url %></div></div>
            <div class="nav-btn"><div class="title-wrapper"><%= link_to "Submit", albums_submit_path %></div></div>
            <div class="nav-btn"><div class="title-wrapper"><%= link_to "Forum", forum_path %></div></div>
            <div class="nav-btn"><div class="title-wrapper"><%= link_to "Articles", articles_path %></div></div>
            <div class="nav-btn"><div class="title-wrapper"><%= link_to "Archive", albums_path %></div></div>
            <div class="nav-btn"><div class="title-wrapper"><%= link_to "About / FAQ", about_path %></div></div>
        </li>
    </ul>
</nav>
