<h1>Create account</h1>

<%= form_for @user, url: "create-account" do |f| %>
    <div class="form-field">
        <%= f.label :email, "E-mail", required: true %>
        <%= f.email_field :email %>
    </div>
    <div class="form-field">
        <%= f.label :username, "Username", required: true %>
        <%= f.text_field :username %>
    </div>
    <div class="form-field">
        <%= f.label :password, "Password", required: true %>
        <%= f.password_field :password %>
    </div>
    <div class="form-field">
        <%= f.submit "Create account" %>
    </div>
<% end %>
