<div id="main-container">
  <%= render 'partials/navbar_slim' %>
  <h1> Reset Password </h1>
  <%= form_for :user, url: "/users/#{@user.reset_password_token}/reset-password" do |f| %>
    <%= f.label :password, "New Password" %>
    <%= f.password_field :password %>
    <%= f.label :password_retype, "Retype New Password" %>
    <%= f.password_field :password_retype %>
    <%= f.submit "Change Password" %>
  <% end %>
</div>
