<% title @user.username + '\'s profile' %>
<div id="main-container">
    <div id="main-opacity"></div>
    <%= render 'partials/navbar_slim' %>
    <div id="profile-wrapper">
        <div id="profile-header">
            <div>
                <% if !fetch_user.nil? && fetch_user.id == @user.id %>
                    <form id="avatar-form" enctype="multipart/form-data" action="<%= root_url + '/users/update' %>" method="post" data-remote="false">
                        <label for="avatar">
                            <%= image_tag user_avatar(@user), class: 'editable' %>
                        </label>
                        <input id="avatar" name="user[avatar]" type="file">
                        <input type="text" name="user[id]" value="<%= @user.id %>" hidden>
                        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                        <div><p><b>Change avatar</b></p></div>
                    </form>
                <% else %>
                    <%= image_tag user_avatar(@user) %>
                <% end %>
                <h2><%= @user.username %></h2>
            </div>
            <div class="profile-info-container">
                <div>
                    <p><b>Birth year: </b></p>
                    <p><%= @user.birth_year %></p>
                </div>
                <div>
                    <p><b>Gender: </b></p>
                    <p><%= @user.gender %></p>
                </div>
            </div>
            <div class="profile-info-container">
                <div>
                    <p><b>Location: </b></p>
                    <p>
                        <% if @user.location.present? %>
                        <%= @user.location %>
                        <% else %>
                        Unknown location
                        <% end %>
                    </p>
                </div>
                <div>
                    <p><b>Bio: </b></p>
                    <p>
                        <% if @user.bio.present? %>
                        <%= @user.bio %>
                        <% else %>
                        No bio provided
                        <% end %>
                    </p>
                </div>
            </div>
        </div>
        <div id="favorites-display">
            
        </div>
	</div>
</div>