<% title 'Home' %>
<div id="main-container">
    <%= render 'partials/navbar_slim' %>
    <%= image_tag "spinner.gif", class: "spinner hidden" %>
    <div id="home-container">
        <div id="main-opacity"></div>
        <div id="announcements">
        </div>
        <h3 id="activity">Recent activity</h2>
        <div id="content">
            <div id="feed">
                <% @content[:posts].each do | post | %>
                <a href="<%= "#{forum_path}/#{post.forum_thread.category}/t/#{post.forum_thread.id}" %>" class="post-card">
                    <div class="card-opacity"></div>
                    <h4><%= post.user.username %> posted in thread <i><%= post.forum_thread.title %></i> :</h4>
                    <p class="post-score">Score: <%= post_upvotes(post) %></p>
                    <div class="post-container">
                        <div class="user-info">
                            <div class="avatar-wrapper">
                                <%= image_tag user_avatar(post.user) %>
                            </div>
                        </div>
                        <div class="text-container">
                            <div class="post-text">
                                <p><%= parse_markdown(post.body.split(/\n/)[0], true) %></p>
                            </div>
                        </div>
                    </div>
                </a>
                <% end %>
            </div>
            <div id="right-panel">
                <div id="recent-albums">
                    <h3>Recent albums</h3>
                    <% @content[:albums].each do | album | %>
                    <div class="album-container">
                        <%= image_tag album.cover.variant(resize: '80x80').processed.service_url %>
                        <div class="album-info">
                            <p><%= album.title %></p>
                            <p><%= album.romaji_artist %></p>
                            <p><%= album.year %></p>
                        </div>
                    </div>
                    <% end %>
                    <div class="card-opacity"></div>
                </div>
                <div id="gallery">
                    <h3>Placeholder</h3>
                </div>
            </div>
        </div>
    </div>
</div>