<% title "Home" %>
<% description "varieti.es is an open source archive for city pop. Browse your favorite city pop albums in an accessible way!" %>
<div id="wrapper">
	<%= image_tag "varietiescropped.png", id: "alt-img" %>
	<img alt="" class="bigimage" src="">
	<div id="opaque"></div>
	<div id="bg-opacity"></div>
	<div id="albums-bg-container">
		<%= image_tag "variety.jpg" %>
		<%= image_tag "mignonne.jpg" %>
		<%= image_tag "niagaratrianglevol2.jpg" %>
		<%= image_tag "superflight.jpg" %>
		<%= image_tag "bigwave.jpg" %>
	</div>
	<div id="search-title">
		<div id="logo-title">
			<a href="/albums/index"><h1>varieti.es</h1></a>
			<a href="/albums/index" id="beta-title">BETA!</a>
			<h2>City Pop Album Archive</h2>
		</div>
		<div id="input">
			<img alt="" id="regex" class="gray" src="https://upload.wikimedia.org/wikipedia/commons/6/63/OOjs_UI_icon_regular-expression-progressive.svg">
			<input type="text" id="main-search" name="search" placeholder=" Search for an artist, album, flavor..."><ion-icon name="search"></ion-icon>
		</div>
	</div>
	<div id="main-container">
		<div id="main-opacity"></div>
		<nav id="sidebar">
			<ul id="nav-list">
				<li>
					<div class="nav-btn"><div class="title-wrapper"><%= link_to "Home", albums_index_path %></div></div>
					<div class="nav-btn"><div class="title-wrapper"><%= link_to "Submit", albums_submit_path %></div></div>
					<div class="nav-btn"><div class="title-wrapper"><%= link_to "About / FAQ", about_index_path %></div></div>
				</li>
				<li>
					<div class="nav-btn" id="filters">
						<div class="title-wrapper">
							<a class="btn-title" id="filter">Sort by:</a>
						</div>
						<ul id="sort-list">
							<li class="sort-btn tooltip"><a>Title</a><span class="tooltiptext"><a>Sort by title, A-Z/Z-A.</a></span><ion-icon name="ios-arrow-down"></ion-icon></li>
							<li class="sort-btn tooltip"><a>Artist</a><span class="tooltiptext"><a>Sort by artist, A-Z/Z-A.</a></span><ion-icon name="ios-arrow-down"></ion-icon></li>
							<li class="sort-btn tooltip"><a>Year</a><span class="tooltiptext"><a>Sort by year, ascending/descending.</a></span><ion-icon name="ios-arrow-down"></ion-icon></li>
							<li class="sort-btn tooltip"><a>Flavor</a><span class="tooltiptext"><a>Sort by flavor, A-Z/Z-A.</a></span><ion-icon name="ios-arrow-down"></ion-icon></li>
							<li class="sort-btn tooltip"><a>Quality</a><span class="tooltiptext"><a>Sort by quality, ascending/descending (checks a number of criteria including presence of tracklist, cover, description, etc. to determine how well fleshed out the entry is - Descending is the default sort).</a></span><ion-icon name="ios-arrow-down"></ion-icon></li>
						</ul>
					</div>
					<div class="nav-btn" id="random"><div class="title-wrapper"><a class="btn-title">Random</a></div></div>
				</li>
			</ul>
		</nav>
		<ul id="splash-container">
		</ul>
	</div>
	<div id="footer">
		<ul id="link-list">
			<li><a href="https://github.com/ivakam/city-album-chart">GitHub</a></li>
			<li><a href="mailto:ivar.kamsvag@gmail.com">Email</a></li>
			<li><a href="https://discord.gg/ejewttb">City pop Discord server</a></li>
			<li><a href="https://i.imgur.com/nTfQAky.png">Album chart</a></li>
			<li><a href="https://docs.google.com/spreadsheets/d/1UumcUXF3QvJgoQ3j8SsAnPtdbarhFD_wTmguK0RuZbs/edit?usp=sharing">My personal spreadsheet</a></li>
		</ul>
		<div id="disclaimers">
			<p>Site currently hosting </p><p id="album-total-count"></p><p id="total-count-left">albums on Rails 5.2 framework with SQLite database</p>
			<p>Thanks to the people behind <a href="https://ionicons.com/">ionicons</a> for providing amazing assets for free.</p>
		</div>
	</div>
</div>