<div id="wrapper">
  <a href=""><h1>City Pop Album Archive</h1></a>
  <div id="main-container">
    <nav id="sidebar">
      <h2>Navigation & Filters</h2>
      <ul class="nav-list">
        <li class="nav-btn"><div class="title-wrapper"><a class="btn-title">Home</a></div></li>
        <li class="nav-btn" id="filters">
        	<div class="title-wrapper">
        		<a class="btn-title">Filters</a>
        	</div>
        	<!-- <div class="nav-list-container"> -->
        		<ul id="filter-list">
        			<li class="filter-btn"><a>Title</a><span class="ion-chevron-down"></span></li>
        			<li class="filter-btn"><a>Artist</a><span class="ion-chevron-down"></span></li>
        			<li class="filter-btn"><a>Year</a><span class="ion-chevron-down"></span></li>
        			<li class="filter-btn"><a>Placeholder1</a><span class="ion-chevron-down"></span></li>
        		</ul>
        		<div class="nav-btn" id="show-sort"><div class="title-wrapper"><a class="btn-title">Show more</a></div>
        	<!-- </div> -->
        </li>
        <li class="nav-btn"><div class="title-wrapper"><a class="btn-title">Browse</a></div></li>
        <li class="nav-btn"><div class="title-wrapper"><a class="btn-title">Random</a></div></li>
        <li class="nav-btn"><div class="title-wrapper"><a class="btn-title">About</a></div></li>
      </ul>
    </nav>
 <ul id="splash-container">
    <% @albums.each do |album| %>
      <li class="album-container" id="<%= album.title %>">
        <div class="album-text-container">
          <h2><%= album.title %></h2>
          <%= image_tag album.coverlink %>
          <p><%= album.artist %></p>
          <p><%= album.year %></p>
        </div>
        <div class="arrow-container"><span class="ion-chevron-down album-arrow"></span></div>
      </li>
      <li class="info-container offset" id="<%= album.title %>-info">
      	<div class="info-text-container">
        	<h2><%= album.title %></h2>
        	<p><%= album.artist %></p>
        	<p><%= album.year %></p>
        	<p><%= album.description %></p>
        </div>
        <%= image_tag album.coverlink %>
      </li>
    <% end %>
  </ul>
</div>
</div>