<div id="wrapper">
  <a href=""><h1>City Pop Album Archive</h1></a>
  <div id="main-container">
    <div id="sidebar">
      <h2>Navigation & Filters</h2>
      <ul id="nav-list">
        <li class="nav-btn"><a>Home</a></li>
        <li class="nav-btn"><a>Filters</a></li>
        <li class="nav-btn"><a>Browse</a></li>
        <li class="nav-btn"><a>Random</a></li>
        <li class="nav-btn"><a>About</a></li>
      </ul>
    </div>
 <div id="splash-container">
    <% @albums.each do |album| %>
      <div class="album-container" id="<%= album.title %>">
        <div class="album-text-container">
          <h2><%= album.title %></h2>
          <%= image_tag album.coverlink %>
          <p><%= album.artist %></p>
          <p><%= album.year %></p>
        </div>
        <div class="arrow-container"><span class="ion-chevron-down album-arrow"></span></div>
      </div>
      <div class="info-container">
        <h2><%= album.title %></h2>
        <p><%= album.artist %></p>
        <p><%= album.year %></p>
        <p><%= album.description %></p>
        <%= image_tag album.coverlink %>
      </div>
    <% end %>
  </div>
</div>
</div>