<%= form_with scope: :album, url: albums_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :artist %><br>
    <%= form.text_area :artist %>
  </p>

  <p>
    <%= form.label :year %><br>
    <%= form.text_area :year %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>