<% title "Home" %>
<% description "varieti.es is an open source archive for city pop. Browse your favorite city pop albums in an accessible way!" %>
<%= image_tag "varietiescropped.png", id: "alt-img" %>
<img alt="" class="bigimage" src="">
<div id="report-form-container" class="hidden slide-inactive">
	<form id="report-form" action="/reports/create" accept-charset="UTF-8" data-remote="true" method="post">
		<h2>Submit a report</h2>
		<ion-icon name="ios-close" id="report-close"></ion-icon>
		<input id="report-album" type="text" name="report[album]" hidden>
		<div id="report-input-container">
			<label for="report-input-container"><p>Report reason:</p></label>
			<select class='report-reason' name="report[reason]" form="report-form" required>
				<option value='spam'><p>Spam</p></option>
				<option value='incorrect'><p>Incorrect metadata</p></option>
				<option value='offensive'><p>Offensive content</p></option>
				<option value='other'><p>Other</p></option>
			</select>
			<label for="report-comment"><p>Comment:</p></label>
			<textarea id="report-comment" placeholder="Any additional notes go here" name="report[comment]"></textarea>
		</div>
		<input type="submit" name="commit" value="Send Report">
		<div id="submit-message" class="shrunk">
			<p>Your report has been submitted!</p>
		</div>
	</form>
</div>
<div id="opaque"></div>
<div id="bg-opacity"></div>
<div id="albums-bg-container">
	<%= image_tag "variety.jpg" %>
	<%= image_tag "mignonne.jpg" %>
	<%= image_tag "niagaratrianglevol2.jpg" %>
	<%= image_tag "superflight.jpg" %>
	<%= image_tag "bigwave.jpg" %>
</div>
<div id="search-title">
	<div id="logo-title">
		<a href="/albums/index"><h1>varieti.es</h1></a>
		<a href="/albums/index" id="beta-title">BETA!</a>
		<h2>City Pop Album Archive</h2>
	</div>
	<div id="input">
		<input type="text" id="main-search" name="search" placeholder=" Search for an artist, album, flavor..."><ion-icon name="search"></ion-icon>
	</div>
</div>
<div id="main-container">
	<div id="main-opacity"></div>
	<nav id="sidebar">
		<ul id="nav-list">
			<li>
				<div class="nav-btn"><div class="title-wrapper"><%= link_to "Home", albums_path %></div></div>
				<div class="nav-btn"><div class="title-wrapper"><%= link_to "Submit", albums_submit_path %></div></div>
				<div class="nav-btn"><div class="title-wrapper"><%= link_to "About / FAQ", about_path %></div></div>
			</li>
			<li>
				<div class="nav-btn" id="filters">
					<div class="title-wrapper">
						<a class="btn-title" id="filter">Sort by:</a>
					</div>
					<ul id="sort-list">
						<li class="sort-btn tooltip"><a>Title</a><span class="tooltiptext"><a>Sort by title, A-Z/Z-A.</a></span><ion-icon name="ios-arrow-down"></ion-icon></li>
						<li class="sort-btn tooltip"><a>Artist</a><span class="tooltiptext"><a>Sort by artist, A-Z/Z-A.</a></span><ion-icon name="ios-arrow-down"></ion-icon></li>
						<li class="sort-btn tooltip"><a>Year</a><span class="tooltiptext"><a>Sort by year, ascending/descending.</a></span><ion-icon name="ios-arrow-down"></ion-icon></li>
						<li class="sort-btn tooltip"><a>Flavor</a><span class="tooltiptext"><a>Sort by flavor, A-Z/Z-A.</a></span><ion-icon name="ios-arrow-down"></ion-icon></li>
						<li class="sort-btn tooltip"><a>Quality</a><span class="tooltiptext"><a>Sort by quality, ascending/descending (checks a number of criteria including presence of tracklist, cover, description, etc. to determine how well fleshed out the entry is - Descending is the default sort).</a></span><ion-icon name="ios-arrow-down"></ion-icon></li>
					</ul>
				</div>
				<!-- Maybe this will be a reality at some point. Who knows? -->
				<!--<div class="nav-btn" id="random"><div class="title-wrapper"><a class="btn-title">Random</a></div></div>-->
			</li>
		</ul>
	</nav>
	<%= image_tag "spinner.gif", class: "spinner hidden" %>
	<ul id="splash-container">
	</ul>
</div>