<% @title="Submit"%>
<div id="wrapper">
	<div id="bg-opacity"></div>
	<div id="albums-bg-container"><%= image_tag "variety.jpg" %></div>
	<div id="search-title">
  		<div id="logo-title">
  			<a href="/albums/index"><h1>varieti.es</h1></a>
  			<a href="/albums/index" id="beta-title">BETA!</a>
  			<h2>City Pop Album Archive</h2>
  		</div>
  		<div id="input">
  	</div>
	</div>
 	<div id="main-container">
    	<nav id="sidebar">
      		<ul class="nav-list">
        		<li class="nav-btn"><div class="title-wrapper"><%= link_to "Home", albums_index_path %></div></li>
        		<li class="nav-btn"><div class="title-wrapper"><%= link_to "Submit", albums_submit_path %></div></li>
        		<li class="nav-btn"><div class="title-wrapper"><%= link_to "About / FAQ", about_index_path %></div></li>
      		</ul>
    	</nav>
    	<div id="submit-wrapper">
    	    <div id="submit-opacity"></div>
    	    <h2>Submit an Album</h2>
    	    <div id="submit-container">
        	    <div id="submit-instructions">
        	        <h2>Rules and Guidelines for Submissions:</h2>
        	        <p>To make sure that all submissions are consistent with each other while containing as much information as possible, 
        	        there are a couple of things you are required to take into account when submitting:
                    <br>
                    <br>
                    <b>1. Make sure an album cover is included in the submission.</b>
                    <br>
                    There is an ok placeholder image if you really can't find a scan, 
                    but please do try to include one. I have set a goal of 600px minimum for width, but I know just as well as anyone that good scans 
                    sometimes just don't exist. If this is the case, a lower resolution is acceptable. Don't use this as an excuse though, 
                    it only hurts the community in the long run. Name each image file in the same way as the coverlink: entry in the album. 
                    This means that "Light'n Up" becomes "lightnup.jpg" and "An Insatiable High" becomes "aninsatiablehigh.jpg". 
                    You can just dump them all in a zip folder and send it along with the output file.
                    <br>
                    <br>
                    <b>2. Fill out the "flavor" field for each album.</b>
                    <br>
                    This could be something like "Funk" or "Ballad" or "Tribute". 
                    It's basically just a way to give some form of musical description to what the album sounds like.
                    "City pop" isn't a very good descriptor of music (more on that in the FAQ).
                    <br>
                    <br>
                    <b>2. Please go through the albums and remove any and all extras from them.</b>
                    <br>
                    This includes live versions (not live albums, 
                    live versions of songs as extras on studio albums.), demo versions, bonus tracks, etc. Please also remove any 
                    "25th anniversary edition" from the title field (and from the coverlink: field accordingly. This is to keep clutter 
                    from getting on the site. If you're interested enough in an album to warrant looking for extras, do it somewhere else. 
                    Further support for extras may come further down the line. Who knows.
                    <br>
                    <br>
                    <b>3. Please go through and check that no albums or tracks have that annoying ALL CAPS THING that some 
                    Japanese albums written in English do.</b>
                    <br>
                    If they happen to have that, please fix is. An example would 
                    be "AN INSATIABLE HIGH" -> "An Insatiable High".
                    <br>
                    <br>
                    <b>4. Please fill out the romaji artist field.</b>
                    <br>
                    This is for indexing and search purposes. If you have your artists tagged as "Romaji name (Kanji name)" 
                    you will have to manually split them up. This is easily done with any find&replace tool in a text editor.
                    <br>
                    <br>
                    <b>5. Keep in mind that all albums will be submitted as-is.</b>
                    <br>
                    Neither I nor anyone else will add any missing information such as track romanization, album descriptions or similar. 
                    If you think an album deserves to stick out among the rest, a description is a fantastic way to do it 
                    (note: a description is not review. It's a description).
                    I know this may seem like a lot to do, but please do keep in mind that this is meant as a community effort.
                    You don't need to submit all of your 1300 albums. I'd much rather have you 
                    submit 20 really well done albums than 200 that are total anarchy. 
                    It really doesn't take that long and by doing this you help build an archive that may see use for years to come. 
                    If you don't have anything to contribute from your collection, 
                    things like feedback and just simply looking through albums and making sure there are no errors is also a huge help. 
                    I'm also currently on the lookout for people to moderate the submission process. 
                    By that I mean helping me look through all files that get submitted to see that everything follows the guidelines.
                    <br>
                    <br>
                    If you have a large library of files that you want to submit all at once, 
                    there is a scraper tool developed exactly for this purpose. It <a class="link" href="goo.gl/5nLzQx">can be found here.</a>
                    The scraper will output a .vms file that can be opened in any text editor (preferably a sophisticated one like N++, or even better, 
                    Sublime). This file will contain an easily readable list of your albums and the belonging tracks. (note: the program will 
                    first ask for the location of your files, and then for the desired output location and name. The windows look similar. It's 
                    a little confusing but try it and it'll kind of make sense.). There's no limit to how many output files you can submit. Just 
                    make sure all of them follow these guidelines.
                    <br>
                    <br>
                    Finally, all submissions are manually looked over by me. I want this archive to stay high-quality. No amount of code will overcome that, unfortunately. Thanks for your contribution.</p>
        	    </div>
                <%= form_with scope: :album, html: { multipart: true }, url: albums_path, local: true do |form| %>
                    <div id="form-container">
                        <div id="input-container">
                            <div class="form-divider">
                                <i class="hint">Have a scraper output to submit instead? <a class="hint-click">Click here.</a></i>
                                <div class="form-field">
                                    <p><%= form.label :title %>*</p>
                                    <%= form.text_field :title, placeholder: "ライドオンタイム" %>
                                </div>
                                <div class="form-field">
                                    <p><%= form.label :romanization %></p>
                                    <%= form.text_field :romanization, placeholder: "Ride on Time" %>
                                </div>
                                <div class="form-field">
                                    <p><%= form.label :japanese_artist %></p>
                                    <%= form.text_field :japanese_artist, placeholder: "山下達郎" %>
                                </div>
                                <div class="form-field">
                                    <p><%= form.label :romaji_artist %>*</p>
                                    <%= form.text_field :romaji_artist, placeholder: "Tatsuro Yamashita" %>
                                </div>
                                <div class="form-field">
                                    <p><%= form.label :year %></p>
                                    <%= form.text_field :year, placeholder: "1980" %>
                                </div>
                                <div class="form-field">
                                    <p><%= form.label :flavor %></p>
                                    <%= form.text_field :flavor, placeholder: "Funk" %>
                                </div>
                                <i>*Required Fields.</i>
                            </div>
                            <div class="form-divider">
                                <div class="form-field">
                                    <p><%= form.label :description %> (Not a review)</p>
                                    <%= form.text_area :description, placeholder: "Ride on Time is the fifth studio album by Japanese singer-songwriter Tatsuro Yamashita, released in September 1980.\n\nRide on Time has been most well known by its title track. It was used on the television commercial for Maxell's audio cassette starring Yamashita, and released as a single in May 1980." %>
                                </div>
                                <div id="tracklist-submit">
                                    <p><%= form.label :"Tracklist" %> (Don't write track numbers! Just keep them in order.)</p>
                                    <%= form.text_area :temp_tracklist, placeholder: "\"<Track title>\", \"<Romanization>\", <Track duration>\n\n" +
                                    "\"いつか\", \"Someday\", 5:46\n" +
                                    "\"空想\", \"Daydream\", 4:27\n" +
                                    "\"サイレントスクリーマー\", \"Silent Screamer\", 5:27\n" +
                                    "\"ライドオンタイム\", \"Ride On Time\", 5:51\n" +
                                    "\"夏の扉\", \"The Door Into Summer\", 4:39\n" +
                                    "\"私のシュガーベイブ\", \"My Sugar Babe\", 4:09\n" +
                                    "\"雨の日\", \"Rainy Day\", 5:16\n" +
                                    "\"雲\", \"Clouds\", 5:37\n" +
                                    "\"キス・グッドナイト\", \"Kissing Goodnight\", 1:34" %>
                                </div>
                                <div class="form-field submit-btn">
                                    <p><%= form.label :"Album Cover (jpg or jpeg. Max 500Kb. Preferably under 100Kb.)" %></p>
                                    <%= form.file_field :image %>
                                </div>
                            </div>
                        </div>
                        <div class="form-field" id="scraper-input">
                            <i class="hint"><a class="hint-click">Take me back!</a></i>
                            <p><%= form.label :scraper %> (Paste your output here)</p>
                            <%= form.text_area :scraper, id: "scraper-textarea", placeholder: "Paste scraper output here." %>
                            <div class="form-field submit-btn">
                                <p><%= form.label :"Album Cover (jpg or jpeg. Max 500Kb. Preferably under 100Kb.)" %></p>
                                <%= form.file_field :image %>
                            </div>
                        </div>
                    </div>
                    <div id="save-container" class="submit-btn">
                        <%= form.submit "Submit", id: "save-btn" %>
                    </div>
                <% end %>
            </div>
    	</div>
	</div>
	<div id="footer">
		<ul id="link-list">
			<li><a href="https://GitHub.com/ivakam/city-album-chart">GitHub</a></li>
			<li><a href="mailto:ivar.kamsvag@gmail.com">Email</a></li>
			<li><a href="https://discord.gg/zTdcFxB">City pop Discord server</a></li>
			<li><a href="https://docs.google.com/spreadsheets/d/1s4-pxu3Ul5D6ynGAw7fQo63910dRBcGClVRX92zTMig/edit?usp=sharing">Submission spreadsheet</a></li>
			<li><a href="https://i.imgur.com/nTfQAky.png">Album chart</a></li>
			<li><a href="https://docs.google.com/spreadsheets/d/1UumcUXF3QvJgoQ3j8SsAnPtdbarhFD_wTmguK0RuZbs/edit?usp=sharing">My personal spreadsheet</a></li>
		</ul>
		<div id="disclaimers">
			<p>Site currently hosting </p><p id="album-total-count"></p><p id="total-count-left">albums on Rails 5.2 framework with SQLite database</p>
			<p>Thanks to the people behind <a href="https://ionicons.com/">ionicons</a> for providing amazing assets for free.</p>
		</div>
	</div>
</div>